<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Proof-of-concept Webapp</title>
  <meta name="description" content="A simple OpenAPI service">
  <meta name="author" content="JK">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="../dist/output.css">

  <!-- Initiate Leaflet.js -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/> 
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

  <!-- Use ES Module to load multiple Javascript files -->
  <script async src="./src/index.js" type="module"></script>
</head>

<body>
<div id="mobile-app-container" class="flex w-full h-full justify-center">

  <!-- Viewport starts here -->
  <div id="viewport" class="flex flex-col h-[100vh] w-[47vh] justify-between">

    <!-- Header starts here -->
    <header class="flex w-full h-16 bg-slate-300 items-center justify-between">
        <div id="header-logo" class="mx-3""> 
            <h1 class="text-bold font-black text-lg">Proof-of-concept Webapp</h1>
        </div>
    </header>

    <!-- Cards start here -->
    <div id="cards-container" class="h-full w-full bg-orange-300">
        
        <!-- Profile card -->
        <div id="profile-card" class="h-full w-full hidden">
            <div id="profile-hero" class="flex w-full bg-blue-300 p-8">
                <div id="hero-content" class="p-8">
                    <h1 class="text-bold font-black text-lg">Profile</h1>
                </div>
            </div>
            <div id="profile-content" class="p-8">
                <h3>Current location: </h3>
                <select id="select-province">
                    <option value="seoul">시/도</option>
                    <option value="seoul">서울특별시</option>
                    <option value="gyeonggi">경기도</option>
                    <option value="incheon">인천광역시</option>
                    <option value="gangwon">강원도</option>
                    <option value="chungbuk">충청북도</option>
                    <option value="chungnam">충청남도</option>
                    <option value="jeonbuk">전라북도</option>
                    <option value="jeonnam">전라남도</option>
                    <option value="gyeongbuk">경상북도</option>
                    <option value="gyeongnam">경상남도</option>
                    <option value="jeju">제주특별시</option>
                </select>
                <select id="select-city">
                    <option>시/군/구</option>
                </select>
                <button id="currentPosBtn">My Location</button>
                
            </div>
        </div>


        <!-- Map card -->
        <div id="map-card" class="h-full w-full">
            <div class="flex flex-col w-full h-full bg-blue-300">
                <div class="p-8">
                    <h1 class="text-bold font-black text-lg">Map</h1>
                    <input type="checkbox" id="trackLocationCheckbox">Track Location
                    <button id="currentPosBtn">My Location</button>
                </div>
                <div id="map-wrapper" class="w-full h-full">
                    <div id="map" style="width: 100%; height: 100%;"></div> 
                </div>
                <div id="poi-list" class="w-full max-h-[50%] bg-yellow-300 overflow-scroll">
                    <ul>
                        <li>POI item 1</li>
                        <li>POI item 2</li>
                        <li>POI item 3</li>
                        <li>POI item 4</li>
                        <li>POI item 5</li>
                        <li>POI item 1</li>
                        <li>POI item 2</li>
                        <li>POI item 3</li>
                        <li>POI item 4</li>
                        <li>POI item 5</li>
                        <li>POI item 1</li>
                        <li>POI item 2</li>
                        <li>POI item 3</li>
                        <li>POI item 4</li>
                        <li>POI item 5</li>
                        <li>POI item 1</li>
                        <li>POI item 2</li>
                        <li>POI item 3</li>
                        <li>POI item 4</li>
                        <li>POI item 5</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Workout card -->
        <div id="workout-card" class="h-full w-full hidden">
            <div class="flex w-full bg-blue-300 p-8">
                <div class="p-8">
                    <h1 class="text-bold font-black text-lg">Workout</h1>
                </div>
            </div>
        </div>


        <!-- Meetup card -->
        <div id="meetup-card" class="h-full w-full hidden">
            <div class="flex w-full bg-blue-300 p-8">
                <div class="p-8">
                    <h1 class="text-bold font-black text-lg">Meetup</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- String submission test

    <div class="">
      <fieldset>
          <form action="/" method="post">
              <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
              <input type="submit" class="ghost-button" value="Get Weather">
          </form>
      </fieldset>
      <%if( weather !== null){ %>
          <div class="border-2 m-2 p-4">
              <p>
                  <%= place %>
              </p>
          </div>
          <div class="border-4 m-2 p-4">
              <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header font-bold">Summary</div>
                  <div class="card-body text-dark">
                      <h5 class="card-title">Temperature</h5>
                      <p class="card-text">
                          In Degrees:
                          <%= temp %>°C/

                      </p>
                      <h5 class="text-bold">Main</h5>
                      <p class="card-text">
                          <%= main %>
                      </p>
                  </div>
              </div>
              <div class="card-deck">
                  <div class="card card-acTomorrowcent-dark mb-3" style="max-width: 18rem;">
                      <div class="font-bold">Description</div>
                      <div class="card-body text-dark">
                          <h5 class="card-title">Overall Description: </h5>
                          <p class="card-text">
                              <%= description %>
                          </p>
                          <h5 class="card-title">Cloud coverage: </h5>
                          <p class="card-text">

                          </p>
                          <h5 class="card-title">Visibility: </h5>
                          <p class="card-text">

                          </p>
                      </div>
                  </div>
                  <div class="card-deck">
                      <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                          <div class="font-bold">Other info</div>
                          <div class="card-body text-dark">
                              <h5 class="card-title">Humidity: </h5>
                              <p class="card-text">

                              </p>
                          </div>
                          <div class="card-body text-dark">
                              <h5 class="card-title">Pressure: </h5>
                              <p class="card-text">

                              </p>
                          </div>
                      </div>
                  </div>
                  <% } %>

                      <% if(error !== null){ %>
                          <p>
                              Error: <%= error %>
                          </p>
                          <% } %>

              </div>
    </div>    
    -->

    <!-- Navbar starts here -->
    <div id="navbar" class="flex w-full h-32 bg-slate-300 items-center justify-between">
        <div id="profile-nav-btn" class="px-5"> profile </div>
        <div id="map-nav-btn" class="px-5"> map </div>
        <div id="workout-nav-btn" class="px-5"> workout </div>
        <div id="meetup-nav-btn" class="px-5"> community </div>
    </div>
</body>
</html>
