<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>공트365</title>
    <meta name="description" content="Gongt365 Webapp [proof-of-concept]">
    <meta name="author" content="devfreedom">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="../dist/output.css">
            
    <!-- Initialize Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/> 
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <!-- Initialize Leaflet.markercluster for rapid, clustered marker rendering -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <!-- Initialize js-datepicker -->
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
    <script src="https://unpkg.com/js-datepicker"></script>

    <!-- Use ES Module to load multiple Javascript files -->
    <script async src="./src/index.js" type="module"></script>
</head>

<body>

<!-- Use customized actual viewport height, instead of '100vh' or 'h-screen'. see `../src/index.js` -->
<!-- WARNING: [Tailwind CSS] Tailwind CSS generates dynamic width differently on Chrome and Firefox. Desktop view needs a fix. -->
<div id="browser-viewport" class="flex w-screen justify-center items-center" style="height: var(--doc-height)">

    <!-- App container starts here -->
    <div id="app-container" class="flex flex-col w-full h-full justify-between">

        <!-- Header starts here -->
        <header class="flex-none">
            <div class="w-full h-16 bg-white items-center">
                <div id="header-logo" class="flex flex-row w-full h-full"> 
                    <img src="../img/gongt365-icon.svg" class="object-scale-down p-2"><img src="../img/gongt365-typo.svg" class="object-scale-down p-2">
                    <p class="text-slate-400 text-sm mt-3">proof-of-concept</h>
                </div>
            </div>
        </header>
    

        <!-- Map view -->
        <div id="map-view" class="flex flex-col overflow-y-auto grow w-full">
            <div id="map-hero" class="flex-none">
                <div class="flex flex-row h-20 p-2 items-center justify-between bg-[url('../img/map-hero-bg.svg')] bg-right bg-cover">
                    <h1 class="text-bold font-black text-lg px-3">지도</h1>
                    <button id="currentPosBtn" class="flex flex-row py-2 px-3 mx-2 rounded-lg bg-green-500 items-center"><img src="./img/current-location-btn.svg" class="w-5 mr-2" style="filter: invert(1);"><p class="text-white">현재 위치</p></button>
                </div>
            </div>

            <!-- Leaflet.js clashes with Tailwind CSS in terms of sizing, fallback to inline script -->
            <div id="map-wrapper" style="width: 100%; height: 40%; flex: none;">
                <div id="map-object" style="width: 100%; height: 100%;"></div> 
            </div>

            <div id="poi-list" class="grow overflow-y-auto">
                <div class="flex flex-col w-full overflow-x-hidden p-3">
                    <% if (poiList == null) { %>
                        <div class="flex flex-col bg-orange-500 rounded-xl p-5 m-5 items-center justify-center">
                            <h1 class="text-lg font-bold">데이터를 가져올 수 없습니다</h1> 
                            <p>Error: poiList is null</p>
                        </div>
                    <% } else if (poiList == undefined) { %>
                        <div class="flex flex-col bg-orange-500 rounded-xl text-lg font-bold p-5 m-5 items-center justify-center"></div>
                            <h1 class="text-lg font-bold">데이터를 가져올 수 없습니다</h1> 
                            <p>Error: poiList is not defined</p>
                        </div>
                    <% } else { %>
                        <% poiList.forEach(poi => { %>
                            <div class="poiItem w-full p-3 my-3 rounded-xl bg-white border border-slate-300 shadow-md">
                                <h1 class="poiPlace text-md font-bold"><%= poi.place %></h3>
                                <h1 class="poiEquipment text-md"><%= poi.equipment %></h1>
                                <p class="poiAddress text-sm"><%= poi.city %>&nbsp;<%= poi.district %></p>
                                <p class="poiContact text-sm"><%= poi.authority %>&nbsp;(<%= poi.phone_no %>)</p>
                                <p class="poiIndex hidden"><%= poi.index %></p>
                                <p class="poiLat hidden"><%= poi.latitude %></p>
                                <p class="poiLng hidden"><%= poi.longitude %></p>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>


        <!-- Workout view -->
        <div id="workout-view" class="flex flex-col overflow-y-auto hidden grow w-full">

            <div id="workout-hero" class="flex-none">
                <div class="flex flex-col h-20 justify-center bg-[url('../img/workout-hero-bg.svg')] bg-right bg-cover px-5">
                    <h1 class="text-bold font-black text-lg">운동기구 정보</h1>
                    <h1 class="text-bold text-sm">안전하고 효과적으로 운동하기!</h1>
                </div>
            </div>

            <div class="mx-5 mt-7 mb-5 text-center">
                <h3 class="text-md font-black text-green-500">기구를 터치하시면 사용법 동영상이 재생됩니다</h3>
            </div>

            <div id="equipment-list" class="grow overflow-y-auto">
                <div class="flex flex-col w-full h-full overflow-x-hidden overflow-y-auto p-3">
                    <% if (equipList == null) { %>
                        <div class="flex flex-col bg-orange-500 rounded-xl p-5 m-5 items-center justify-center">
                            <h1 class="text-lg font-bold">데이터를 가져올 수 없습니다</h1> 
                            <p>Error: equipList is null</p>
                        </div>
                    <% } else if (equipList == undefined) { %>
                        <div class="flex flex-col bg-orange-500 rounded-xl text-lg font-bold p-5 m-5 items-center justify-center"></div>
                            <h1 class="text-lg font-bold">데이터를 가져올 수 없습니다</h1> 
                            <p>Error: equipList is not defined</p>
                        </div>
                    <% } else { %>
                        <% equipList.forEach(equipment => { %>
                            <a href="<%= equipment.video_url %>">
                                <div class="equipItem flex flex-row w-full p-3 my-3 rounded-xl bg-white border border-slate-300 shadow-md">
                                    <img src="./img/<%= equipment.image %>" class="w-20 h-20 m-3">
                                        <div class="flex flex-col">
                                        <h1 class="equipName text-md font-bold"><%= equipment.name %></h3>
                                        <h1 class="equipDesc text-md mt-3"><%= equipment.desc %></h1>
                                    </div>
                                </div>
                            </a>
                        <% }) %>
                    <% } %>
                </div>
            </div>      
        </div>


        <!-- Meetup view -->
        <div id="meetup-view" class="flex flex-col overflow-y-auto hidden grow w-full">
            
            <div id="meetup-hero" class="flex-none">
                <div class="flex flex-col h-20 justify-center bg-[url('../img/meetup-hero-bg.svg')] bg-right bg-cover px-5">
                    <h1 class="text-bold font-black text-lg">운동 모임</h1>
                    <h1 class="text-bold text-sm">함께 모여서 운동해요!</h1>
                </div>
            </div>

            <div id="meetup-toolbar" class="flex flex-row mx-2 mt-5 mb-3 justify-between items-center">
                <div class="text-md font-black text-green-500">
                    <p class="ml-1">서울특별시 서대문구</p>
                </div>
                <div class="flex flex-row">
                    <button id="new-meetup-btn" class="flex flex-row py-2 px-3 rounded-lg bg-green-500 items-center"><p class="text-white">모임 만들기</p></button>
                </div>
            </div>

            <div id="meetup-list" class="grow overflow-y-auto">
                <div class="flex flex-col w-full h-full overflow-x-hidden overflow-y-auto">
                    <% if (meetupList == null) { %>
                        <div class="flex flex-col bg-orange-500 rounded-xl p-5 m-5 items-center justify-center">
                            <h1 class="text-lg font-bold">데이터를 가져올 수 없습니다</h1> 
                            <p>Error: meetupList is null</p>
                        </div>
                    <% } else if (meetupList == undefined) { %>
                        <div class="flex flex-col bg-orange-500 rounded-xl text-lg font-bold p-5 m-5 items-center justify-center"></div>
                            <h1 class="text-lg font-bold">데이터를 가져올 수 없습니다</h1> 
                            <p>Error: meetupList is not defined</p>
                        </div>
                    <% } else { %>
                        <% meetupList.forEach(meetup => { %>
                            <div class="meetupItem w-full">
                                <div class="p-3">
                
                                    <!-- TODO: [Security] Audit the malicious use case of client side-rendered MongoDB's automatically-generated ID (_id) -->
                                    <!-- Key points: ObjectID, machine identifier, timestamp, pubID -->
                                    <h1 class="meetupId text-md font-bold hidden"><%= meetup._id %></h3>
                                    <h1 class="meetupUsername text-md font-bold"><%= meetup.username %></h3>
                                    <h1 class="meetupTitle text-lg mb-5">"<%= meetup.title %>"</h1>
                                    <p class="meetupAddress text-md"><%= meetup.city %>&nbsp;<%= meetup.district %>&nbsp;<%= meetup.poi_place %></p>
                
                                    <!-- WARNING: The database uses ISODate which is UTC+0, needs to be converted into Korea Standard Time (UTC+9) -->
                                    <!-- Generate a custom KST date parser-->
                                    <% meetupIsoDate = new Date(meetup.isodate); %>
                                    <% meetupKstDate = meetupIsoDate.toLocaleDateString('lt', { timeZone: "Asia/Seoul" }); %>            <!-- Use Lithuanian date format (ISO-style) with Korean tz database timezone -->
                                    <% meetupKstTime = meetupIsoDate.toLocaleTimeString('ko-KR', { hour: "2-digit", minute: "2-digit" }); %>                 <!-- "2-digit" option forces hour to have a leading zero -->                                
                
                                    <!-- Remove leading zeros using REGEX-->
                                    <p class="meetupKstDateString text-md"><%= meetupKstDate.slice(0,4) %>년&nbsp;<%= meetupKstDate.slice(5,7) %>월&nbsp;<%= meetupKstDate.slice(8,10) %>일&nbsp;<%= meetupKstTime.slice(0,2) %>&nbsp;<%= meetupKstTime.slice(-5).replace(/^0+/, "") %></p>
                                    
                                    <div class="flex flex-row w-full justify-between items-center">
                                        <p class="meetupKstTimeString text-md"><%= meetup.duration_min %>분간 운동 예정</p><button class="cancelMeetupBtn flex flex-row items-center px-3 py-1 rounded-lg bg-orange-200 h-10 text-sm">모임 취소</button>
                                    </div>
                                    
                                </div>
                                <div class="w-full h-[1px] bg-slate-200 my-3"></div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            
            <div id="new-meetup-modal" class="grow bg-slate-100 mx-3 my-5 px-5 py-10 rounded-2xl hidden">
                <div class="flex flex-col w-full h-full justify-between">
                    <h1 class="text-xl font-black">운동 모임을 만들어보세요!</h1>
                    
                    <!-- "Create a new meetup" form starts here -->
                    <form action="/new_meetup" method="post">

                        <div class="flex-1 flex-col justify-between my-10">
                            
                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">이름:</p> <input id="new-meetup-username" class="w-full bg-white rounded-lg h-10 m-1 px-3 ml-5" type="text" name="newMeetupUsernameInput" required minlength="3" maxlength="12">
                            </div>
                            <div class="flex flex-row items-center justify-end w-full">
                                <p class="text-sm">(3~12글자)</p>
                            </div>
                            <div class="flex flex-row items-center w-full">
                                <!-- Define REGEX pattern validation here and enforce client-side password validation manually via Javascript function, see 'uiux.js' -->
                                <!-- WARNING: [Security] Enforce server-side password validation and sanitization -->
                                <p class="shrink-0">암호:</p> <input id="new-meetup-password" class="w-full bg-white rounded-lg h-10 m-1 px-3 ml-5" pattern="[\w]+" type="password" name="newMeetupPasswordInput" required minlength="8" maxlength="20" autocomplete="off">
                            </div>
                            <div class="flex flex-row items-center justify-end w-full mb-3">
                                <p class="text-sm">(영문 또는 숫자로 8~20글자)</p>
                            </div>
                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">모임 제목:</p> <input id="new-meetup-title" class="w-full bg-white rounded-lg h-10 m-1 px-3 ml-5" type="text" name="newMeetupTitleInput" required minlength="5" maxlength="20">
                            </div>
                            <div class="flex flex-row items-center justify-end w-full mb-3">
                                <p class="text-sm">(5~20글자)</p>
                            </div>

                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">모임 장소:</p> 
                                <% if (meetupPlaceList == null) { %>
                                    <p class="h-10 m-1 px-3 ml-5">Error: meetupPlaceList is null</p>
                                <% } else if (meetupPlaceList == undefined) { %>
                                    <p class="h-10 m-1 px-3 ml-5">Error: meetupPlaceList is not defined</p>
                                <% } else { %>
                                    <select id="new-meetup-place" class="w-full bg-white rounded-lg h-10 m-1 px-3 ml-5" name="newMeetupPlaceInput">
                                    <% meetupPlaceList.forEach(meetupPlace => { %>
                                        <option value="<%= meetupPlace %>"><%= meetupPlace %></option>
                                    <% }) %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="flex flex-row items-center w-full">
                                <!-- WARNING: 'required' attribute doesn't work on js-datepicker -->
                                <p class="shrink-0">모임 날짜:</p> <input id="new-meetup-date" class="w-full bg-white rounded-lg h-10 m-1 px-3 ml-5" type="text" name="newMeetupDateInput" readonly required minlength="10" maxlength="10">
                            </div>

                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">모임 시간:</p> 
                                <div class="flex flex-row">
                                    <select id="new-meetup-hour" class="bg-white rounded-lg h-10 m-1 px-3 ml-5" name="newMeetupHourInput">
                                        <option value="12">오후 12시</option>
                                        <option value="13">오후 1시</option>
                                        <option value="14">오후 2시</option>
                                        <option value="15">오후 3시</option>
                                        <option value="16">오후 4시</option>
                                        <option value="17">오후 5시</option>
                                        <option value="18">오후 6시</option>
                                        <option value="19">오후 7시</option>
                                        <option value="20">오후 8시</option>
                                        <option value="21">오후 9시</option>
                                        <option value="22">오후 10시</option>
                                        <option value="23">오후 11시</option>
                                        <option value="24">오전 0시</option>
                                        <option value="01">오전 1시</option>
                                        <option value="02">오전 2시</option>
                                        <option value="03">오전 3시</option>
                                        <option value="04">오전 4시</option>
                                        <option value="05">오전 5시</option>
                                        <option value="06">오전 6시</option>
                                        <option value="07">오전 7시</option>
                                        <option value="08">오전 8시</option>
                                        <option value="09">오전 9시</option>
                                        <option value="10">오전 10시</option>
                                        <option value="11">오전 11시</option>
                                    </select>
                                    <select id="new-meetup-minute" class="bg-white rounded-lg h-10 m-1 px-3 ml-5" name="newMeetupMinuteInput">
                                        <option value="00">00분</option>
                                        <option value="05">05분</option>
                                        <option value="10">10분</option>
                                        <option value="15">15분</option>
                                        <option value="20">20분</option>
                                        <option value="25">25분</option>
                                        <option value="30">30분</option>
                                        <option value="35">35분</option>
                                        <option value="40">40분</option>
                                        <option value="45">45분</option>
                                        <option value="50">50분</option>
                                        <option value="55">55분</option>
                                    </select>
                                </div>
                            </div>

                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">예상 운동 시간:</p>
                                <div class="flex flex-row"> 
                                    <select id="new-meetup-duration" class="bg-white rounded-lg h-10 m-1 px-3 ml-5" name="newMeetupDurationInput">
                                        <option value="10">10분</option>
                                        <option value="15">15분</option>
                                        <option value="20">20분</option>
                                        <option value="25">25분</option>
                                        <option value="30">30분</option>
                                        <option value="35">35분</option>
                                        <option value="40">40분</option>
                                        <option value="45">45분</option>
                                        <option value="50">50분</option>
                                        <option value="55">55분</option>
                                        <option value="60">60분</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-row justify-between items-center">
                            <button id="new-meetup-back-btn" class="flex flex-row py-2 px-3 rounded-lg bg-green-500 items-center"><p class="text-white">이전으로</p></button>
                            <button id="new-meetup-confirm-btn" class="flex flex-row py-2 px-3 rounded-lg bg-green-500 items-center" type="submit"><p class="text-white">모임 만들기</p></button>
                        </div>
                    
                    </form>

                </div>
            </div>

            <div id="cancel-meetup-modal" class="grow bg-slate-100 mx-3 my-5 px-5 py-10 rounded-2xl hidden">
                <div class="flex flex-col w-full h-full justify-between">
                    <h1 class="text-xl font-black">운동 모임을 취소하시겠어요?</h1>
                    
                    <form action="/cancel_meetup" method="post">
                        <div class="flex-1 flex-col justify-between my-10">

                            <input id="cancel-meetup-id" class="w-full rounded-lg my-5 ml-5 hidden" type="text" name="cancelMeetupIdInput" required readonly>
                            
                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">주최자 이름:</p> <p id="cancel-meetup-username" class="w-full rounded-lg my-5 ml-3">cancelMeetupUsername</p>
                            </div>
                            
                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">모임 제목:</p> <p id="cancel-meetup-title" class="w-full rounded-lg my-5 ml-3">cancelMeetupTitle</p>
                            </div>

                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">모임 장소:</p> <p id="cancel-meetup-place" class="w-full rounded-lg my-5 ml-3">cancelMeetupPlace</p>
                            </div>

                            <div class="flex flex-row items-center w-full">
                                <p class="shrink-0">모임 날짜/시간:</p> <p id="cancel-meetup-datetime" class="w-full rounded-lg my-5 ml-3">cancelMeetupDate</p>
                            </div>

                            <p class="font-black mt-5 mb-3">이 모임을 취소하시려면 암호를 입력하세요.</p>

                            <div class="flex flex-row items-center w-full">
                                
                                <p class="shrink-0">암호:</p> <input id="cancel-meetup-password" class="w-full bg-white rounded-lg h-10 m-1 px-3 ml-5" type="password" pattern="[\w]+" name="cancelMeetupPasswordInput" required minlength="8" maxlength="20">
                            </div>

                        </div>

                        <div class="flex flex-row justify-between items-center">
                            <button id="cancel-meetup-back-btn" class="flex flex-row py-2 px-3 rounded-lg bg-green-500 items-center"><p class="text-white">이전으로</p></button>
                            <button id="cancel-meetup-confirm-btn" class="flex flex-row py-2 px-3 rounded-lg bg-green-500 items-center" type="submit"><p class="text-white">모임 취소하기</p></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


        <!-- Profile view -->
        <div id="profile-view" class="flex flex-col overflow-y-auto hidden grow w-full">

            <div id="profile-hero" class="flex-none">
                <div class="flex flex-col h-20 justify-center bg-[url('../img/profile-hero-bg.svg')] bg-right bg-cover px-5">
                    <h1 class="text-bold font-black text-lg">안녕하세요!</h1>

                    <!-- TODO: [Feature] Randomize welcome messages upon page view -->
                    <h1 class="text-bold text-sm">오늘도 활기차게 운동해볼까요!</h1>

                </div>
            </div>

            <div id="location-info" class="flex flex-row justify-between mt-3 p-3">
                <div id="address-info" class="flex flex-col shrink-0">
                    <div>
                        <p class="font-bold text-md text-slate-500 mb-2">설정된 현재 지역</p>
                        <h1 id="currentRegion" class="font-bold text-2xl text-black">서울특별시 서대문구</p>
                    </div>
                <button id="currentPosBtn" class="p-1 px-2 my-3 rounded-lg toggleBtnOff text-gray-400">지역 변경</button> 
                </div>
                
                <div id="weather-info" class="flex flex-row font-bold mt-3 items-center justify-center">
                    <% if (currentWeather == null) { %>
                        <h1 class="font-bold text-orange-500">날씨 정보 없음</h1>
                        <p>Error: currentWeather is null</p>
                    <% } else if (currentWeather == undefined) { %>
                        <h1 class="font-bold text-orange-500">날씨 정보 오류</h1>
                        <p>Error: currentWeather is not defined</p>
                    <% } else { %>
                        <img src="<%= weatherIcon %>" class="m-3">
                        <div class="flex flex-col align-center text-center">
                            <h1 class="text-sm"><%= currentWeather %></h1>
                            <p><%= currentTemp %>°C</p>
                        </div>
                    <% } %>
                </div>
            </div>
            
            <div id="settings" class="flex flex-col w-full h-[72vh] overflow-x-hidden p-3">            

                <!-- TODO: [Feature] Implement POI filter that corresponds to select body parts, based on the name of the equipment -->

                <h3 class="font-bold text-lg text-orange-500 mt-3">회색 제목의 기능은 아직 지원되지 않습니다</h3>

                <h3 class="font-bold text-xl text-slate-300 mt-10">운동 타이머</h3>
                
                <h3 class="font-bold text-md text-slate-300 mt-5 mb-3 ">1세트 시간</h3>
                <div id="workoutBodyParts" class="grid grid-cols-3 gap-2">
                    <button id="neck" class="p-1 rounded-lg toggleBtnOff">5분</button>
                    <button id="shoulder" class="p-1 rounded-lg toggleBtnOff">10분</button>
                    <button id="arm" class="p-1 rounded-lg toggleBtnOff">15분</button>
                </div>

                <h3 class="font-bold text-xl text-slate-300 mt-12">운동기구 필터</h3>
                
                <h3 class="font-bold text-md text-slate-300 mt-5 mb-3 ">집중적으로 운동할 부위</h3>
                <div id="workoutBodyParts" class="grid grid-cols-3 gap-2">
                    <button id="neck" class="toggleBtn p-1 rounded-lg toggleBtnOff">목</button>
                    <button id="shoulder" class="toggleBtn p-1 rounded-lg toggleBtnOff">어깨</button>
                    <button id="arm" class="toggleBtn p-1 rounded-lg toggleBtnOff">팔</button>
                    <button id="back" class="toggleBtn p-1 rounded-lg toggleBtnOff">등</button>
                    <button id="chest" class="toggleBtn p-1 rounded-lg toggleBtnOff">가슴</button>
                    <button id="abs" class="toggleBtn p-1 rounded-lg toggleBtnOff">복부</button>
                    <button id="waist" class="toggleBtn p-1 rounded-lg toggleBtnOff">허리</button>
                    <button id="thigh" class="toggleBtn p-1 rounded-lg toggleBtnOff">허벅지</button>
                    <button id="calf" class="toggleBtn p-1 rounded-lg toggleBtnOff">종아리</button>
                    <button id="feet" class="toggleBtn p-1 rounded-lg toggleBtnOff">발</button>
                </div>

                <h3 class="font-bold text-md text-slate-300 mt-5 mb-3 ">운동 유형</h3>
                <div id="workoutBodyParts" class="grid grid-cols-3 gap-2">
                    <button id="whole-body" class="toggleBtn p-1 rounded-lg toggleBtnOff">전신 운동</button>
                    <button id="muscle" class="toggleBtn p-1 rounded-lg toggleBtnOff">근육 운동</button>
                    <button id="cardio" class="toggleBtn p-1 rounded-lg toggleBtnOff">유산소 운동</button>
                </div>
                
            </div>
        </div>

        <!-- Navigation bar starts here -->
        <div id="navbar" class="flex-none">
            <div class="flex flex-row w-full h-20 bg-slate-200 items-center justify-between">
                <div class="w-1"></div>
                <div id="map-nav-btn" class="flex flex-col items-center px-5 py-1 rounded-lg bg-slate-300"> <img src="./img/map-navbar-icon.svg" class="w-7"> <h1 class="mt-1 text-sm">지도</h1> </div>
                <div id="workout-nav-btn" class="flex flex-col items-center px-5 py-1 rounded-lg"> <img src="./img/workout-navbar-icon.svg" class="w-7"> <h1 class="mt-1 text-sm">운동</h1> </div>
                <div id="meetup-nav-btn" class="flex flex-col items-center px-5 py-1 rounded-lg"> <img src="./img/meetup-navbar-icon.svg" class="w-7"> <h1 class="mt-1 text-sm">모임</h1> </div>
                <div id="profile-nav-btn" class="flex flex-col items-center px-5 py-1 rounded-lg"> <img src="./img/profile-navbar-icon.svg" class="w-7"> <h1 class="mt-1 text-sm">프로필</h1> </div>
                <div class="w-1"></div>
            </div>
        </div>
    </div>
</body>

</html>
